*{
    margin: 0%;
    padding: 0%;
}
body{
    /* background-color: #12172b; */
    background-image: url(360_F_571834789_ujYbUnH190iUokdDhZq7GXeTBRgqYVwa.jpg);
    color: white;
    background-size: cover;
    font-family: "poppins",sans-serif;
}
h1{
    text-align: center;
    margin-top: 40px;
    font-size: 70PX;
    font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}
span{
    color:rgb(255, 92, 51);
}
.www{
    color: khaki;
}
/* .h2{
    color: blueviolet;
} */
p{
    text-align: center;
    margin-top: 40px;
    font-size: 10PX;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}
.area{
    display: flex;
    flex-direction: column;
    padding: 0 20%;
    /* border: 3px solid white; */
    /* width: 50%; */
    
}
.skill{
    position: relative;
    margin-bottom: 40px;
}
.tittle{
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}
.bar{
    width: 100%;
    /* background: rgb(255, 255, 255,0.6); */
    background: white;
    height: 40px;
    z-index: -1;
    border-radius: 100px;
    position: absolute;
}
.fill{
    background: blue;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-right: 30px;
    overflow: hidden;

}
.persent{
    font-size: 20px;
    /* align-items: center; */
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 92, 51);
}
.html{
    animation: html 3s;
    width: 50%;
}
.css{
    animation: css 5s;
    width: 80%;
}
.js{
    animation: js 4s;
    width: 70%;
}
@keyframes html{
    from{
        width: 0%;
    }
    to{
        width: 50%;
    }
}
@keyframes css{
    from{
        width: 0%;
    }
    to{
        width: 80%;
    }
}
@keyframes js{
    from{
        width: 0%;
    }
    to{
        width: 70%;
    }
}
@media only screen and (max-width:750px){
    .area{
        padding: 0 50%;
    }
    
}